.review-container {
    margin: 100px;
    background: #fff;
}

h2 {
    text-align: center;
}

.card-type {
    color: gray;
}

.card-review {
    color: crimson;
}
.reviewImg {
    height: 200px;
}
